<section class="article" id="article-show-{{ article.id }}">
  <div class="article__content">
    <div class="article-content">
      <div class="breadcrumb">
        <a href="{{ portal.home_url }}">Accueil</a>
        <a href="{{ article.category.url }}">{{ article.category.name | h}}</a>
        <a href="{{ article.category.url }}#{{article.folder.id}}">{{ article.folder.name | h}}</a>
      </div>
      <b class="page-stamp page-stamp-article">
        <b class="icon-page-article"></b>
      </b>

      <h1 class="article-content__title">{{ article.title | h}}
        <a href="javascript:print();" class="icon-print solution-print-icon" title="{% translate portal.print_title %}"></a>
      </h1>
      <hr />
      <article class="article-content__body" id="article-body" rel="image-enlarge">
        {{ article.body }}
      </article>
      <hr />
      <p>{% translate portal.article.modified_on %} {{ article.modified_on | short_day_with_time }}</p>
      <p>Vous ne trouvez pas la réponse à votre question ? Vous pouvez nous contacter directement <a href="mailto:support@pix.fr">ici</a> !</p>
    </div>
  </div>
  <div class="article__navigation">
    <div class="article-navigation">
      {{ article | related_articles: 10, 'related_articles' }}
    </div>
  </div>
</section>

