<script>
  function loadThumbnailForVideos() {
    const allVideos = document.getElementsByTagName("video");
    for (let video of allVideos) {
      video.setAttribute("poster", "https://images.prismic.io/pix-site/42628ea2-413c-40f7-b58b-ed66e889729a_Thumbnail.png?auto=compress,format");
    }
  }
  document.addEventListener("DOMContentLoaded", loadThumbnailForVideos);
</script>
<section class="article" id="article-show-{{ article.id }}">
  <div class="article__content">
    <div class="article-content">
      <div class="breadcrumb">
        <a href="{{ portal.home_url }}">Accueil</a>
        <a href="{{ article.category.url }}">{{ article.category.name | h}}</a>
        <a href="{{ article.category.url }}#{{article.folder.id}}">{{ article.folder.name | h}}</a>
      </div>
      <b class="page-stamp page-stamp-article">
        <b class="icon-page-article"></b>
      </b>

      <h1 class="article-content__title">{{ article.title | h}}
        <a href="javascript:print();" class="icon-print solution-print-icon" title="{% translate portal.print_title %}"></a>
      </h1>
      <hr />
      <article class="article-content__body" id="article-body" rel="image-enlarge">
        {{ article.body }}
      </article>
      <hr />
      <p>{% translate portal.article.modified_on %} {{ article.modified_on | short_day_with_time }}</p>
      <p class="article__new-ticket">Vous ne trouvez pas la réponse à votre question ? <a href={{portal.new_ticket_url}}>Vous pouvez nous contacter en cliquant ici.</a></p>
    </div>
  </div>
  <div class="article__navigation">
    <div class="article-navigation">
      {{ article | related_articles: 10, 'related_articles' }}
    </div>
  </div>
</section>
