{% if  portal.current_page != 'csat_survey' %}
  {% if portal.current_page and portal.current_tab == "home" %}
    <header class="pix-app-header">
        <div class="pix-app-header__brand">
            <div class="pix-app-brand">
                {{ portal | logo }}
              <a href="https://support.pix.fr/" class="pix-app-brand__title">Centre d'assistance</a>
            </div>
        </div>
    </header>
  {% else %}
    <header class="pix-app-header pix-app-header--fixed">
      <div class="pix-app-header__brand">
          <div class="pix-app-brand">
              <a class="pix-app-brand__logo" href="/"></a>
              <a href="https://support.pix.fr/" class="pix-app-brand__title pix-app-brand__title--black">Centre d'assistance</a>
          </div>
      </div>
      {% if portal.current_tab != "search" %}
        <div class="pix-app-header__search-bar">
          {%  snippet search_form %}
        </div>
      {% endif %}
    </header>
  {% endif %}

  <div class="pix-hero-banner">
    {% if portal.current_tab and portal.current_tab == "home" %}
      <section class="pix-hero-banner__search-bar">
        <div class="pix-hero-banner-search-bar">
          <h2 class="pix-hero-banner-search-bar__title">Bonjour. Pouvons-nous vous aider ?</h2>
          <div class="pix-hero-banner-search-bar__input">{% snippet search_form %}</div>
        </div>
      </section>
    {% elsif portal.current_tab == "solutions" or portal.current_tab == "search" %}
      {% assign categoryName = category.name %}
      {% if portal.current_page == "article_view" %}
        {% assign categoryName = article.category.name %}
      {% endif %}

      {% assign categoryDescription = category.description %}
      {% if portal.current_page == "article_view" %}
        {% assign categoryDescription = article.category.description %}
      {% endif %}

      {% if portal.current_tab == "solutions" %}
        <div class="pix-hero-banner__solution-resume">
          <div class="pix-hero-banner-solution-resume">
              <h2 class="pix-hero-banner-solution-resume__title">{{ categoryName | h}}</h2>
              <p class="pix-hero-banner-solution-resume__description">{{ categoryDescription | h}}</p>
          </div>
        </div>
      {% elsif portal.current_tab == "search" %}
        <section class="pix-hero-banner__search-bar pix-hero-banner__search-bar--little">
          <div class="pix-hero-banner-search-bar">
            <h2 class="pix-hero-banner-search-bar__title pix-hero-banner-search-bar__title--little pix-hero-banner-search-bar__title--left">{% translate portal.search.results_for %} "{{ search.term | escape_once }}"</h2>
            <div class="pix-hero-banner-search-bar__input">{% snippet search_form %}</div>
          </div>
        </section>
      {% endif %}

      <div class="pix-hero-banner__solution-nav">
        <div class="pix-hero-banner-solution-nav">
          <ul class="pix-hero-banner-solution-nav__list pix-hero-banner-solution-nav__list--close" id="nav_list">
            <div class="pix-hero-banner-solution-nav__icon pix-hero-banner-solution-nav__icon--open" id="nav_button"></div>
            {% for category in portal.solution_categories %}
              {% if categoryName == category.name %}
                <li class="active">
              {%  else %}
                <li>
              {%  endif %}
                {{ category.name | link_to: category.url }}
                <ul class="pix-hero-banner-solution-nav__subnav">
                  {% for folder in category.folders %}
                    <li><a href="{{ category.url }}#{{ folder.name }}">{{ folder.name }}</a></li>
                  {% endfor %}
                </ul>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% else %}
  <header class="banner">
    <div class="banner-wrapper">
      <div class="banner-title">
        {{ portal | logo : true }}
        <h1 class="ellipsis heading">{{portal.name|h}}</h1>
      </div>
    </div>
  </header>
{% endif %}
