{% if  portal.current_page != 'csat_survey' %}
    <header class="pix-app-header">
        <!-- Bandeau Hot News -->
        <!--<div class="hot-news">
            {% if portal.current_language.code == "fr" %}
                Nos applications Pix rencontrent des perturbations pouvant causer des ralentissements, le problème est en cours de résolution, merci pour votre compréhension.
            {% elsif portal.current_language.code == "en" %}
                Pix is currently experiencing some disruptions that may cause slowdowns. Our team is working hard to solve the problem! Thank you for your understanding.
            {% endif %}
        </div>-->
        {% if portal.current_tab == "home"  %}
            <div class=" pix-app-header__home">
                <img class="pix-app-header__logo" src="https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015052769521/original/S2_GH7ODoFoBKtiqf_COQdTvGBpZdVQ4Vg.png?1619440972" alt="Pix">
                <span class="pix-app-header__title" >
                    {% if portal.current_language.code == "fr" %}
                        Centre d'aide
                    {% elsif portal.current_language.code == "en" %}
                        Help center
                    {% endif %}
                </span>
            </div>
        {% else %}
            <div class="pix-app-header__white">
                <div class="pix-app-header__left">
                    <img class="pix-app-header__logo" src="https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015052769380/original/2qGndtTgnnqS-fZWIdsTzdctL3SODwhzbg.png?1619440911" alt="Pix">
                    <a href="https://support.pix.org/" class="pix-app-header__title pix-app-header__title--black">
                        {% if portal.current_language.code == "fr" %}
                            Retour à l'accueil du centre d'aide
                        {% elsif portal.current_language.code == "en" %}
                            Back to Help center's home
                        {% endif %}
                    </a>
                </div>
                {% if portal.current_tab != "search" %}
                    <div class="pix-app-header__search-bar">
                        {%  snippet search_form %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </header>

{% if portal.current_tab == "solutions" or portal.current_tab == "search" %}
    <div class="pix-hero-banner">

    {% assign categoryName = category.name %}
  {% if portal.current_page == "article_view" %}
    {% assign categoryName = article.category.name %}
  {% endif %}

  {% assign categoryDescription = category.description %}
  {% if portal.current_page == "article_view" %}
    {% assign categoryDescription = article.category.description %}
  {% endif %}

  {% if portal.current_tab == "solutions" %}
    <div class="pix-hero-banner__solution-resume">
      <div class="pix-hero-banner-solution-resume">
          <h1 class="pix-hero-banner-solution-resume__title">{{ categoryName | h}}</h1>
          <p class="pix-hero-banner-solution-resume__description">{{ categoryDescription | h}}</p>
      </div>
    </div>
  {% elsif portal.current_tab == "search" %}
    <section class="pix-hero-banner__search-bar pix-hero-banner__search-bar--little">
      <div class="pix-hero-banner-search-bar">
        <h2 class="pix-hero-banner-search-bar__title pix-hero-banner-search-bar__title--little pix-hero-banner-search-bar__title--left">{% translate portal.search.results_for %} "{{ search.term | escape_once }}"</h2>
        <div class="pix-hero-banner-search-bar__input">{% snippet search_form %}</div>
      </div>
    </section>
  {% endif %}

  <div class="pix-hero-banner__solution-nav">
    <div class="pix-hero-banner-solution-nav">
      <ul class="pix-hero-banner-solution-nav__list pix-hero-banner-solution-nav__list--close" id="nav_list">
        <div class="pix-hero-banner-solution-nav__icon pix-hero-banner-solution-nav__icon--open" id="nav_button"></div>
        {% for category in portal.solution_categories %}
          {% if categoryName == category.name %}
            <li class="active">
          {%  else %}
            <li>
          {%  endif %}
            {{ category.name | link_to: category.url }}
            <ul class="pix-hero-banner-solution-nav__subnav">
              {% for folder in category.folders %}
                <li><a href="{{ category.url }}#{{ folder.name }}">{{ folder.name }}</a></li>
              {% endfor %}
            </ul>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
    </div>
{% endif %}
{% else %}
  <header class="banner">
    <div class="banner-wrapper">
      <div class="banner-title">
        {{ portal | logo : true }}
        <h1 class="ellipsis heading">{{portal.name|h}}</h1>
      </div>
    </div>
  </header>
{% endif %}
