{% if portal.has_solutions %}
    <section class="pix-section-card__container" id="solutions-index-home">
        {% for category in portal.solution_categories %}
            {% if category.folders_count > 0 %}
                <a class="pix-solution-card" href="{{category.url}}">
                    <div class="pix-solution-card__icon pix-solution-card__icon--{{ category.id }}"></div>
                    <div class="pix-solution-card__title">
                        {{ category.name }}
                    </div>
                    <div class="pix-solution-card__description">
                        {{ category.description }}
                    </div>
                </a>
            {% else %}
                {{ portal | filler_for_solutions }}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
<section class="pix-section-new-ticket__container">
    Vous ne trouvez pas la réponse à votre question ?<br><a class="pix-new-ticket" href={{portal.new_ticket_url}}>Vous pouvez nous contacter en cliquant ici.</a>
</section>
